footer {
  background-color: var(--greyish);
  border-top: 0.7rem solid var(--main-orange);
  padding-bottom: 1rem;
}
.footerInfo {
  text-align: center;
}
.footerInfo h5 {
  color: var(--main-orange);
  padding: 1.5rem 0 0.5rem 0;
}
.footerInfo li {
  list-style: none;
  line-height: 0.9rem;
}
.footerInfo a {
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
}
@media screen and (min-width: 678px) {
  footer {
    display: flex;
    justify-content: center;
  }
  .footerInfo {
    max-width: 55rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
