.navWrap {
  background-color: var(--greyish);
}
nav {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.nav__logo {
  color: white;
  margin: 1rem 0;
  text-decoration: none;
}
.nav__logo h1 {
  font-size: 1.5rem;
}
.nav__search {
  margin-bottom: 1rem;
  position: relative;
}
#search {
  padding-left: 1.3rem;
}
.nav__search_btn {
  left: 0;
  padding: 0.2rem;
  position: absolute;
  width: 0.9rem;
}
.hero {
  align-items: center;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  min-height: 30rem;
}
.hero h2 {
  color: var(--greyish);
  font-size: 2rem;
}
@media screen and (min-width: 678px) {
  .navWrap {
    display: flex;
    justify-content: center;
  }
  nav {
    flex-direction: row;
    justify-content: space-between;
    max-width: 55rem;
    padding: 0 1.5rem;
    width: 100%;
  }
  .nav__search {
    margin: 0;
  }
  .hero {
    min-height: 50rem;
  }
}
