.howItStarted {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 2rem 1rem;
}
.howItStarted__pic {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
}
.howItStarted__title {
  color: var(--main-orange);
  grid-column: 2 / 3;
  justify-self: center;
  padding: 1.5rem 0;
}
.howItStarted__text {
  color: var(--greyish);
  grid-column: 1 / span 3;
  text-align: center;
}
.howItStarted__picWafleMonkey {
  justify-self: start;
}
.howItStarted__picSquirrelMonkey {
  justify-self: center;
}
.howItStarted__picLeontopithecus {
  justify-self: end;
}
@media screen and (min-width: 678px) {
  main {
    display: flex;
    justify-content: center;
  }
  .howItStarted {
    margin: -5.5rem 0 0 0;
    max-width: 55rem;
    padding: 0 1.5rem;
  }
}
